#displayContainer {
    display: inline;
    align-items: center;
    align-content: center;
}

#displayContainer p {
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
}

#box { 
    width: 150px;
    height: 100px;
	padding: 25px;
    border: 2px solid black;
    align-self: flex-start;
    align-content: center;
    align-items: center;
}

#wordList {
    align-items: center;
    align-content: center;
    align-self: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#wordList p {
    border: 2px solid black;
    margin: auto;
    width: 150px;
    height: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
}

#resultContainer {
    /* text-align: center; */
    /* align-items: center; */
    /* align-content:center; */

    /*background-image: url("https://openclipart.org/download/275109/1489135357.svg");
    background-size: 500px;
    background-position: left bottom;
    background-repeat: no-repeat;
    border: none;
    */

    border: none;
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;     
}
